# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider IDE
.idea/

# NuGet packages
*.nupkg
packages/

# Publish outputs
publish/

# Logs
*.log

# Others
*.DS_Store
.vscode/
